{{pkg.name}}
============

{{pkg.description}}

[![Build Status][my_travis_badge_url]][my_travis_url]
[![npm version][my_npm_budge_url]][my_npm_url]

{{#each examples}}
+ [{{titlecase @key}}](#{{spinalcase @key}})
{{/each}}


<a name="example"></a>
Examples
--------

{{#each examples}}
<a name="{{spinalcase @key}}"></a>
### {{titlecase @key}}

{{#each this}}
**[{{path}}](./{{path}})**

```{{{type}}}
{{{read path}}}
```
{{/each}}


{{/each}}


<a name="example"></a>
Links
--------

{{#each links}}
+ [{{@key}}]({{{this}}})
{{/each}}



[my_travis_url]: http://travis-ci.org/{{repo}}
[my_travis_badge_url]: http://img.shields.io/travis/{{repo}}.svg?style=flat
[my_npm_url]: http://www.npmjs.org/package/{{pkg.name}}
[my_npm_budge_url]: http://img.shields.io/npm/v/{{pkg.name}}.svg?style=flat
